<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>UserManagementProject</display-name>
  <welcome-file-list>
    <welcome-file>Userlogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Userlogin</display-name>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>controller.Userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>controller.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserDetails</display-name>
    <servlet-name>ViewUserDetails</servlet-name>
    <servlet-class>controller.ViewUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserDetails</servlet-name>
    <url-pattern>/ViewUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>controller.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRole</display-name>
    <servlet-name>ChangeRole</servlet-name>
    <servlet-class>controller.ChangeRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRole</servlet-name>
    <url-pattern>/ChangeRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressDao</display-name>
    <servlet-name>AddressDao</servlet-name>
    <servlet-class>dao.AddressDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressDao</servlet-name>
    <url-pattern>/AddressDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySpecificUser</display-name>
    <servlet-name>DisplaySpecificUser</servlet-name>
    <servlet-class>controller.DisplaySpecificUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySpecificUser</servlet-name>
    <url-pattern>/DisplaySpecificUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
</web-app>